<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Clear Diagnosis</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-space-dynamic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
{% include "navbar.html" %}
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Welcome to Clear Diagnosis</h6>
                <h2>Your  <em>Smart Medical Assistant</em> </h2>
                <p>Get quick medical diagnosis and advice with the power of AI. Start your diagnosis now</p>
                <li class="scroll-to-section"><div class="main-red-button"><a href="loginandsinup.html">Start Your Diagnosis






                </a></div></li>
                   
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1736466337263.png') }}" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <img src="{{ url_for('static', filename='images/rb_5366.png') }}" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  
                  <div class="icon">
                    <img src="{{ url_for('static', filename='images/icone.png') }}" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Our Mission</h4>
                    <p>Provide fast and accurate initial medical advice.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='images/icone2.png') }}" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Our Mission</h4>
                    <p>Break down barriers to accessing medical information.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='images/icone3.png') }}" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Our Vision</h4>
                    <p>Simplify healthcare and make it easy to understand for everyone.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="icon">
                    <img src="{{ url_for('static', filename='images/icone4.png') }}" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Our Vision</h4>
                    <p>Build lasting trust to make healthcare reliable and secure.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
                    <img src="{{ url_for('static', filename='images/servris-removebg-preview.png') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2>Discover Our Comprehensive Range <em> of </em> Healthcare Services Designed &amp; <span> Just  </span> for You</h2>
            <p>We are committed to making healthcare simpler, more accessible, and tailored to your needs. Here how we can help you:
              AI Symptom Checker: Enter symptoms and get an instant diagnosis
              Doctor Consultations: Connect with healthcare experts directly.
              Medical Information Hub: Browse trusted medical articles and resources.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Who can use Clear Diagnosis? <em> for everyone</em> &amp; Whether you’re young or old <span>it’s here to help. For kids or seniors, consulting a doctor is a good idea.</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4> Does it support multiple languages?</h4>
                <p>Yes, it supports many languages, with more being added regularly.</p>
              </div>
              <div class="showed-content">
                    <img src="{{ url_for('static', filename='images/faq icone.png') }}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>How long does the diagnosis take?</h4>
                <p>Usually less than a minute after entering your symptoms.</p>
              </div>
              <div class="showed-content">
                    <img src="{{ url_for('static', filename='images/faq icone.png') }}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Can I consult a doctor through the app?</h4>
                <p>Yes, you can connect with specialists for live consultations.</p>
              </div>
              <div class="showed-content">
                    <img src="{{ url_for('static', filename='images/faq icone.png') }}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>How accurate is the diagnosis?</h4>
                <p>It uses advanced AI but should be complemented with professional medical advice.</p>
              </div>
              <div class="showed-content">
                    <img src="{{ url_for('static', filename='images/faq icone.png') }}" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Stay Ahead with Clear Diagnosis <em>Your Health</em> Simplified <span>News</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
                    <img src="{{ url_for('static', filename='images/blog-dec.png') }}" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#">
                    <img src="{{ url_for('static', filename='images/صورة واتساب بتاريخ 2024-11-11 في 00.21.43_e0893ba4.jpg') }}" alt="Workspace Desktop">
              </a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i>  24 Jan 2025</li>
                  <li><i class="fa fa-users"></i> TemplateMo</li>
                  <li><i class="fa fa-folder"></i> Branding</li>
                </ul>
                <a href="#"><h4>How Clear Diagnosis Simplifies  &amp; Your Health Decisions</h4></a>
                <p>
                  Explore how AI-powered Clear Diagnosis makes understanding your symptoms easier, providing accurate insights in just seconds.</p>
                <div class="main-blue-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 18 Jan 2025</span>
                  <a href="#"><h4>Top 5 Benefits of &amp; Using Clear Diagnosis</h4></a>
                  <p>
                    Learn why millions trust Clear Diagnosis for fast, secure, and reliable health analyses. Your health in your hands!</p>
                </div>
                <div class="right-image">
                  <a href="#">
                    <img src="{{ url_for('static', filename='images/صورة ثلاثية الأبعاد لجسم الإنسان تُظهر العضلات والقفص الصدري بتفاصيل دقيقة، بألوان دافئة على خلفية داكنة، وبدون أي نصوص. (1).jpg') }}" alt="">
                  </a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 14 Jan 2025</span>
                  <a href="#"><h4>From Symptoms to Solutions &amp; A Journey with Clear Diagnosis</h4></a>
                  <p>
                    Discover how Clear Diagnosis bridges the gap between technology and healthcare, making diagnostics accessible to all.</p>
                </div>
                <div class="right-image">
                    <img src="{{ url_for('static', filename='images/صورة واتساب بتاريخ 2025-01-08 في 03.10.53_41ed4c97.jpg') }}" alt="">
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 10 Jan 2025</span>
                  <a href="#"><h4>Your Data, Your Privacy &amp; How Clear Diagnosis Protects You</h4></a>
                  <p>
                    Find out how Clear Diagnosis prioritizes your privacy with robust encryption and secure data handling practices</p>
                </div>
                <div class="right-image">
                  <a href="#">
                    <img src="{{ url_for('static', filename='images/img3.webp') }}" alt="">
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message About Your Website Needs</h2>
            <p>Have questions, suggestions, or need assistance? Don’t hesitate to reach out to us through the channels below. Our team is ready to help with care and dedication! </p>
            <div class="phone-info">
              <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a href="#">+971 123 456 7890</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
                    <img src="{{ url_for('static', filename='images/contact-decoration.png') }}" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2025 Clear Diagnosis. All Rights Reserved.</p>
  </footer>
  <!-- Scripts -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
  <script src="{{ url_for('static', filename='js/templatemo-custom.js') }}"></script>


</body>
</html>